/* Disable all TextArea stylng */
.topic-area {
	-fx-text-box-border: transparent;
	-fx-font-style: italic;
	-fx-background-insets: 0;
	-fx-background-color: -fx-base;
}

.topic-area .content {
	-fx-background-color: -fx-base;
}

.topic-area:focused .content {
	-fx-background-color: -fx-base;
}

.topic-area:focused {
	-fx-highlight-fill: #7ecfff;
	-fx-focus-color: transparent;
}

.topic-area .content {
	-fx-padding: 10px;
	-fx-text-fill: gray;
	-fx-highlight-fill: #7ecfff;
}

/* Hide topic-area scroll bar */
.topic-area .scroll-bar:vertical {
	-fx-scale-x: 0;
}

.room-item-selector {
	-fx-fill: transparent;
}

.room-item:selected > .room-item-selector {
	-fx-fill: #09cdda;
}

.room-item-avatar-border {
    -fx-fill: -fx-base
}