.boxSpacing{
	-fx-padding: 10 10 10 10;
}

root {
	-fx-font-size: 14px;
}

AnchorPane {
	-fx-background-color: -fx-base;
}

.image-btn {
	-fx-min-width: 0px !important;
	-fx-padding: 5px !important;
}

.inline-monospace {
    -fx-background-color: #777777;
}

.block-monospace {
	-fx-background-color: #777777;
}