.boxSpacing{
	-fx-padding: 10 10 10 10;
}

root {
	-fx-font-size: 14px;
}

AnchorPane {
	-fx-background-color: -fx-base;
}

.image-btn {
	-fx-min-width: 0px !important;
	-fx-padding: 5px !important;
}

.inline-monospace {
    -fx-background-color: #777777;
}

.block-monospace {
	-fx-background-color: #777777;
}

* {
	-room-list-background: #f9f9f9;
	-room-item-background: #e1e1e1;
	-room-item-selection-color: #09cdda;

	-member-list-background: -room-item-background;
	-member-item-background: -room-item-background;
}

/*Colors */
* {
	-fx-color-base: #404040;
	-fx-lighter: #808080;
	-fx-very-light: #DBDBDB;
	-fx-soft-popup: #008CBA;
	-fx-popup: #09CDDA;

}

.base-separator {
	-fx-background-color: -fx-lighter;

}

.clickable:hover {
	-fx-background-color: -fx-popup;
	-fx-border-width: 1, 1, 1, 1;
	-fx-border-color: -fx-soft-popup;
	-fx-cursor: hand;
}