
/* The main scrollbar **track** CSS class  */
.fancy-scroll .scroll-bar:horizontal .track,
.fancy-scroll .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.fancy-scroll .scroll-bar:horizontal .increment-button ,
.fancy-scroll .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.fancy-scroll .scroll-bar:vertical .increment-button ,
.fancy-scroll .scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.fancy-scroll  .scroll-bar .increment-arrow,
.fancy-scroll  .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.fancy-scroll .scroll-bar:horizontal .thumb,
.fancy-scroll .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}