.member-list-anchor {
    -fx-background-color: #e1e1e1;
}

.member-list {
    -fx-background-color: #e1e1e1;
}

.member-list .list-cell {
    -fx-padding: 2 0 2 0;
    -fx-background-color: #e1e1e1;
}

.member-list .scroll-bar:horizontal .increment-arrow,
.member-list .scroll-bar:horizontal .decrement-arrow,
.member-list .scroll-bar:horizontal .increment-button,
.member-list .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.member-list .list-cell:filled:selected, .member-list .list-cell:filled:hover{
    -fx-font-size: 14px;
}