.member-list-anchor {
    -fx-background-color: -member-list-background;
}

.member-list {
    -fx-background-color: -member-list-background;
}

.member-list .list-cell {
    -fx-padding: 2 0 2 0;
    -fx-background-color: -member-list-background;
}

.member-list .scroll-bar:horizontal .increment-arrow,
.member-list .scroll-bar:horizontal .decrement-arrow,
.member-list .scroll-bar:horizontal .increment-button,
.member-list .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}
.heading {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}