.room-list {
	-fx-padding: 0;
}

.room-list .scroll-bar:horizontal .increment-arrow,
.room-list .scroll-bar:horizontal .decrement-arrow,
.room-list .scroll-bar:horizontal .increment-button,
.room-list .scroll-bar:horizontal .decrement-button {
	-fx-padding: 0;
}

.room-list .list-cell {
	-fx-padding: 0 0 0 0;
	-fx-background-color: -room-list-background;
}

/* Color of the arrows which indicate the selected room item */
.room-list .list-cell:selected .room-item > .room-item-selector {
	-fx-fill: -room-item-selection-color;
}
.room-list .list-cell:selected {
	-fx-background-color: -room-item-selection-color;
}

.heading {
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-text-fill: black;
}

.fancy-scroll AnchorPane{
	-fx-background-color: -room-list-background;
}