.room-list {
	-fx-padding: 0;
}

.room-list .scroll-bar:horizontal .increment-arrow,
.room-list .scroll-bar:horizontal .decrement-arrow,
.room-list .scroll-bar:horizontal .increment-button,
.room-list .scroll-bar:horizontal .decrement-button {
	-fx-padding: 0;
}

.room-list .list-cell {
	-fx-padding: 0 0 0 0;
	-fx-background-color: -room-list-background;
}

/* Color of the arrows which indicate the selected room item */
.room-list .list-cell:hover .room-item > .room-item-selector {
	-fx-fill: -fx-popup;
}
.room-list .list-cell:selected .room-item > .room-item-selector,
.room-list .list-cell:focused .room-item > .room-item-selector {
	-fx-fill: -fx-soft-popup;
}

.room-list .list-cell,
.room-list:selected .list-cell,
.room-list:focused .list-cell{
	-fx-border-width: 0;
	-fx-padding: 0;
	-fx-background-insets: 0;
}

.room-list,
.room-list:selected,
.room-list:focused{
	-fx-border-width: 0;
	-fx-padding: 0;
	-fx-background-insets: 0;
}

.heading {
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-text-fill: black;
}