.room-item {
	-fx-background-color: -room-item-background;
	-fx-border-color: -fx-dark-base;
	-fx-border-width: 0 0 2 0;
}

.room-item-selector {
	-fx-fill: transparent;
}

.room-item-avatar-border {
	-fx-fill: -room-item-background
}
