.room-item {
	-fx-background-color: -room-item-background;
	-fx-border-color: -fx-dark-base;
	-fx-border-width: 0 0 2 0;
}

.room-item-selector {
	-fx-fill: transparent;
}

.room-item-avatar-border {
	-fx-fill: -room-item-background;
}

.room-item-avatar-background {
	-fx-fill: -room-item-avatar-background;
}

.room-item-unread-background {
	-fx-fill: -room-item-unread-background-color;
}

.room-item-unread-counter {
	-fx-fill: -room-item-unread-counter-color;
	-fx-font-size: 22px;
	-fx-font-weight: bold;
}